{% extends 'base.html' %}

{% block title %}Issues{% endblock title %}

{% block content %}
<h1 class="text-center">View all tickets</h1>
<br>
<table class="table table-dark table-striped ticket-table">
  <thead>
      <tr>
          <th>Name</th>
          <th>Reporter</th>
          <th>Summary</th>
          <th>Assignee</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
      {% for issue in issue_list %}
      <tr>
          <td>{{ issue.name }}</td>
          <td>{{ issue.reporter }}</td>
          <td>{{ issue.summary }}</td>
          <td>{{ issue.assignee }}</td>
          <td>{{ issue.status }}</td>
          <td>
              <a href="{% url 'issue-delete' issue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
              <a href="{% url 'issue-update' issue.id %}" class="btn btn-outline-info btn-sm">Edit</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}
