{% extends 'base.html' %}

{% block title %}Issues{% endblock title %}

{% block content %}
<h1 class="text-center">View all tickets</h1>
{% for issue in issue_list %}
<div class="card m-auto mb-3" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">{{ issue.name }}</h5>
      <p class="card-text">{{ issue.summary }}</p>
      <p class="card-text">{{ issue.reporter }}</p>
      <p class="card-text">{{ issue.assignee }}</p>
      <p class="card-text">{{ issue.status }}</p>
      <a href="{% url 'issue-delete' issue.id %}" class="btn btn-outline-danger">Delete</a>
      <a href="{% url 'issue-update' issue.id %}" class="btn btn-outline-info">Edit</a>
    </div>
</div>
{% endfor %}
{% endblock content %}
